APP_PORT=8085
API_PORT=8086
DOCKER_IMAGE=your-dockerhub-user/tp-devops-landing:latest
API_DOCKER_IMAGE=your-dockerhub-user/tp-devops-api:latest
DEPLOY_PATH=/opt/tp-devops-landing
DEPLOY_HOST=CHANGE_ME
DEPLOY_USER=CHANGE_ME
